name: python-bottle-basic

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${PORT:-8000}:8000"
    volumes:
      - .:/app
    command: watchfiles --filter python 'python app.py' /app
    networks: [lab]

networks:
  lab: {}
