name: python-flask-routing-multifile-register

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${PORT:-8000}:8000"
    networks: [lab]

networks:
  lab: {}
