# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Joern workspace
workspace/
*.cpg.bin

# CodeQL
.codeql_db/

# Jupyter
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.swp
